@use '@/assets/styles/abstract/colors' as colors;

body {
  background: radial-gradient(colors.$color-genoa, colors.$color-tiber);
  min-height: 100vh;
}

#content {
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  background: radial-gradient(colors.$color-black-bean, colors.$color-black-pearl);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(colors.$color-black, 0.8);
}
