@use '@/assets/styles/abstract/animations' as *;
@use '@/assets/styles/abstract/colors' as colors;
@use '@/assets/styles/abstract/fonts' as fonts;

.results-modal {
  border-radius: 8px;
  padding: 2rem;
  background-color: colors.$color-foam;
  margin: auto; // Restore browser dialog margins, so it's centered 

  &[open] {
    animation: slide-in-from-top 0.35s ease-out;
  }

  &::backdrop {
    background-color: rgba(colors.$color-black, 0.9);
  }

  &__title {
    font-family: fonts.$font-family-secondary;
    font-size: fonts.$font-size-lg;
    margin: 0 0 0.25rem 0;
    text-transform: uppercase;
  }

  & progress {
    width: 100%;
    height: 1.5rem;
    accent-color: colors.$color-puerto-rico;
  }

  & p {
    margin: 0.5rem 0;
    font-size: fonts.$font-size-sm;

    & strong {
      color: colors.$color-eden;
    }
  }

  &__close-button-container {
    text-align: right;
  }

  &__close-button {
    font-size: fonts.$font-size-sm;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: colors.$color-gable-green;
    color: colors.$color-white-ice;

    &:hover {
      background-color: colors.$color-palm-green;
    }
  }
}
