@use '@/assets/styles/abstract/colors' as colors;

.player {
  text-align: center;

  &__title {
    color: colors.$color-breaker-bay;
    margin: 1rem 0;
  }

  &__actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name-input {
    font: inherit;
    padding: 0.25rem;
    border: 1px solid colors.$color-breaker-bay;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: colors.$color-tiber-green;
    color: colors.$color-iceberg;
  }

  &__set-name-button {
    cursor: pointer;
    padding: 0.4rem 1rem;
    border: 1px solid colors.$color-breaker-bay;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: colors.$color-breaker-bay;
    color: colors.$color-bottle-green;

    &:hover {
      border-color: colors.$color-viridian;
      background-color: colors.$color-viridian;
    }
  }
}
