@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

// Font-families
$font-family-primary: 'Quicksand', sans-serif;
$font-family-secondary: 'Handjet', monospace;

// Font-Sizes
$font-size-xl: 3.5rem;
$font-size-lg: 3rem;
$font-size-md: 1.5rem;
$font-size-sm: 1.2rem;
