@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');

// Font-families
$font-family-common: 'Quicksand', sans-serif;
$font-family-title: 'Handjet', monospace;

// Font-Sizes
$font-size-extra-large: 3.5rem;
$font-size-large: 3rem;
$font-size-medium: 1.5rem;
$font-size-small: 1.2rem;
