// Colors
$color-aqua: #00EEFF;
$color-aquamarine: #4DF8DF;
$color-aqua-haze: #E1EEEB;
$color-black: #000000;
$color-black-bean: #0B201D;
$color-black-pearl: #021619;
$color-bottle-green: #061E1A;
$color-breaker-bay: #54A399;
$color-eden: #10655B;
$color-foam: #D7FCF8;
$color-gable-green: #12352F;
$color-genoa: #186A5E;
$color-iceberg: #D1F0EC;
$color-malibu: #4DF0F8;
$color-mine-shaft: #232222;
$color-mint-tulip: #C6F4F2;
$color-palm-green: #051715;
$color-puerto-rico: #46CEBE;
$color-skeptic: #C1E2DD;
$color-tiber: #053339;
$color-tiber-green: #192F2B;
$color-viridian: #3C8379;
$color-white-ice: #EDFCFA;
$color-zeus: #221C18;
